PORT=5000
HOST=0.0.0.0
NODE_ENV=development
DATABASE_URL=postgres://postgres:password@localhost:5432/campus_events_db
DB_HOST=192.168.0.20
DB_PORT=5432
DB_NAME=campus_events_db
DB_USER=iot-server
DB_PASSWORD=2311555
DB_SSL=false
JWT_ACCESS_SECRET=change_this_access_secret
JWT_REFRESH_SECRET=change_this_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=10
CORS_ORIGIN=http://localhost:3000
